# Challenge 2: Sets
There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on Python Sets Examples and Methods before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

First, import the Python random libary

In [7]:
import random

In the cell below, create a list named sample_list_1 with 80 random values.
Requirements:

Each value is an integer falling between 0 and 100.
Each value in the list is unique.
Print sample_list_1 to review its values

Hint: use random.sample (reference).

In [8]:
sample_list_1 = (random.sample(range(100), k=80))
print(sample_list_1)

[98, 81, 38, 36, 6, 40, 68, 90, 3, 91, 72, 54, 29, 42, 15, 2, 20, 92, 1, 49, 16, 52, 85, 50, 28, 60, 71, 77, 82, 25, 56, 69, 87, 83, 24, 12, 30, 93, 41, 57, 65, 70, 97, 31, 64, 67, 14, 46, 27, 63, 55, 51, 32, 13, 22, 23, 79, 73, 62, 45, 0, 61, 47, 66, 99, 37, 74, 34, 80, 39, 33, 78, 18, 26, 94, 9, 88, 58, 75, 76]

Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?

In [9]:
set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 6, 9, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 97, 98, 99}

In [10]:
len(set1)

80

Create another list named sample_list_2 with 80 random values.
Requirements:

Each value is an integer falling between 0 and 100.
The values in the list don't have to be unique.
Hint: Use a FOR loop.

In [38]:
sample_list_2 = [random.randrange(0,100) for i in range(80)]
print(sample_list_2)

[43, 26, 7, 5, 66, 71, 5, 23, 56, 71, 46, 63, 38, 8, 72, 86, 15, 28, 40, 55, 62, 68, 55, 99, 70, 23, 34, 51, 16, 23, 78, 25, 65, 95, 59, 53, 35, 51, 74, 25, 51, 30, 65, 39, 41, 14, 59, 55, 44, 30, 22, 16, 16, 69, 44, 6, 43, 94, 41, 49, 82, 53, 80, 15, 94, 73, 19, 19, 16, 29, 12, 10, 16, 41, 48, 85, 72, 28, 26, 23]

Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?

In [39]:
set2 = set(sample_list_2)
print(set2)

{5, 6, 7, 8, 10, 12, 14, 15, 16, 19, 22, 23, 25, 26, 28, 29, 30, 34, 35, 38, 39, 40, 41, 43, 44, 46, 48, 49, 51, 53, 55, 56, 59, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 78, 80, 82, 85, 86, 94, 95, 99}

In [40]:
len(set2)

52

Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.

In [43]:
set3 = set1.difference(set2)
print(set3)

{0, 1, 2, 3, 9, 13, 18, 20, 24, 27, 31, 32, 33, 36, 37, 42, 45, 47, 50, 52, 54, 57, 58, 60, 61, 64, 67, 75, 76, 77, 79, 81, 83, 87, 88, 90, 91, 92, 93, 97, 98}

Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [44]:
set4 = set2.difference(set1)
print(set4)

{35, 5, 7, 8, 10, 43, 44, 48, 19, 53, 86, 59, 95}

Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.

In [46]:
set5= set1.intersection(set2)
print(set5)

{6, 12, 14, 15, 16, 22, 23, 25, 26, 28, 29, 30, 34, 38, 39, 40, 41, 46, 49, 51, 55, 56, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 78, 80, 82, 85, 94, 99}

What is the relationship among the following values:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)
Use a math formular to represent that relationship. Test your formular with Python code.

In [105]:
#Relationship= len(set1.intersection)((len(set2),len(set3),len(set4),len(set5))
#len(set3)
#len(set4)
#len(set5)
print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set3)+len(set4))
print(len(set1)==len(set2)+len(set2))

True
False
False

Create an empty set called set6.

In [112]:
set6=set()

Add set3 and set5 to set6 using the Python Set update method.

In [113]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 6, 9, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 97, 98, 99}

Check if set1 and set6 are equal.

In [114]:
print(set1==set6)

True

Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

In [115]:
print('Set 1 contains set2',set1.issubset(set2))
print('Set 1 contains set3',set1.issubset(set3))

Set 1 contains set2 False
Set 1 contains set3 False

Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.
Check if the aggregated values are equal.

In [118]:
#union2 = set.union(set2)
#print(union2)
#len(union2)

union345= set3.union(set4,set5)
union12= set1.union(set2)
print(union345)
print(union12)

union345==union12

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}

True

Using the pop method, remove the first element from set1.

In [ ]:
set1.pop(1)

Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [140]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1: 
        set1.discard(i)
              
print(set1)

{0, 2, 3, 6, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 93, 94, 97, 98}